::ng-deep .yellow-button {
  background-color: #ffdf58;
  border: 1px solid #5d5d5d;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: lighten(#ffdf58, 15%);
  }
}

::ng-deep .toast-success {
  background-color: #101010 !important;
  border: 2px solid green !important;
  border-radius: 10px !important;
  color: white !important;
  margin-right: 0.5rem !important;
}

::ng-deep .toast-success .toast-title {
  font-weight: bold !important;
}

::ng-deep .toast-success .toast-message {
  font-size: 16px !important;
}

::ng-deep .toast-error {
  background-color: #101010 !important;
  border: 2px solid red !important;
  border-radius: 10px !important;
  color: white !important;
  margin-right: 0.5rem !important;
}

::ng-deep .toast-error .toast-title {
  font-weight: bold !important;
}

::ng-deep .toast-error .toast-message {
  font-size: 16px !important;
}
