<div class="form">
  <mat-form-field appearance="outline" class="input-field">
    <input matInput type="email" placeholder="Email...">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <input matInput type="password" placeholder="Password...">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <input matInput type="password" placeholder="Repeat password...">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <input matInput type="text" placeholder="Name...">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <input matInput type="text" placeholder="Surname...">
  </mat-form-field>

  <mat-form-field appearance="outline" class="">
    <mat-select placeholder="Gender...">
      <mat-option [value]="Gender.Female">Female</mat-option>
      <mat-option [value]="Gender.Male">Male</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="yellow-button register-button">Register</button>
</div>

