.background {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../../../../public/assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.page-not-found {
  font-size: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
}
