$text: #FFFFFF;
$pale-text: #AAAAAA;
$primary: #A939F9;
$secondary: #B886F1;
$secondary2: #CE81FF;
$secondary3: #D5BAFF;
$accent: #9149BF;
$accent2: #745697;
$background: #101010;
$background2: #181818;
$background3: #262626;
$card: #1D1D1D;
$edge: #303030;
$edge2: #383838;
$edge3: #958E99;
$edge4: #55525A;
