<div class="background">
  <div *ngIf="loadingTrainings" class="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loadingTrainings" class="statistics-holder">
    <div>
      <mat-icon class="logout-icon" (click)="logout()">logout</mat-icon>
    </div>
    <div class="training-statistics">
      <div class="">
        <p *ngIf="selectedDate !== null" class="selected-month-title">Trainings for the selected month: {{ selectedDate | date: "MMMM YYYY." }}</p>
        <div *ngIf="selectedDate !== null" class="data">
          <div class="week" *ngFor="let week of weeklyStatistics; let i = index">
            <label class="week-label"><b>Week {{ i + 1 }}: </b></label>
            <label>Total training time: {{ week.totalTrainingTime }}min. </label>
            <label>Number of trainings: {{ week.numberOfTrainings }} </label>
            <label>Average training difficulty: {{ week.averageTrainingDifficulty | number: '1.2-2' }} </label>
            <label>Average training tiredness: {{ week.averageTrainingTiredness | number: '1.2-2' }}</label>
          </div>
        </div>
        <p *ngIf="selectedDate === null" class="title">All documented trainings</p>
      </div>
      <div class="button-holder">
        <mat-form-field appearance="fill" subscriptSizing="dynamic" class="date-picker">
          <mat-label>Month and Year</mat-label>
          <input readonly matInput [max]="today" [matDatepicker]="dp" [formControl]="formControlDate">
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-icon matIconSuffix (click)="resetMonthAndYear()" class="reset-button">restart_alt</mat-icon>
          <mat-datepicker #dp
                          startView="multi-year"
                          (monthSelected)="setMonthAndYear($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
        <button class="yellow-button new-training-button" (click)="createNewTraining()">Document new training</button>
      </div>
    </div>
    <mat-table [dataSource]="trainingsDataSource">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Training Date </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ createDate(training.year, training.month - 1, training.day) | date }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Training Type </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.trainingTypeName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="difficulty">
        <mat-header-cell *matHeaderCellDef> Difficulty </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.trainingDifficulty }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tiredness">
        <mat-header-cell *matHeaderCellDef> Tiredness </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.tiredness }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.duration }}min.
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="calories burned">
        <mat-header-cell *matHeaderCellDef> Calories burned </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.caloriesBurned }}kcal
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="additional notes">
        <mat-header-cell *matHeaderCellDef> Additional notes </mat-header-cell>
        <mat-cell *matCellDef="let training; let i = index;" class="notes-cell">
          <p *ngIf="training.notes !== ''" class="additional-notes" [ngClass]="{'expanded': expandedRow === i}">{{ training.notes }}</p>
          <p *ngIf="training.notes === ''">-</p>
          <button *ngIf="expandedRow !== i && training.notes !== ''" class="additional-notes-button" (click)="toggleExpansion(i)"><mat-icon>unfold_more</mat-icon></button>
          <button *ngIf="expandedRow === i && training.notes !== ''" class="additional-notes-button" (click)="toggleExpansion(i)"><mat-icon>unfold_less</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
